body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #ffcccc, #ff9999);
}

@media(max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin: 0;

        
    }
    .container {
        margin-top: 15%;

        .wire-box {

            border-radius: 8px;
            cursor: pointer;
            overflow: hidden;
            width: 40%;
            text-align: center;

        }

        .wire-box p {
            font-size: 4vw;
        }
        h1 {
            font-size: 8vw;
        }        
    }
    
    
    
    
    .contain_copper {
        
        justify-content: center;
        align-items: center;
        margin-top: 35%;
    }
}

.container {
    width: 70%;
    max-width: 1200px;
    color: white;
    text-align: center;
    background: rgba(75, 66, 66, 0.421);
    backdrop-filter: blur(50%);
    -webkit-backdrop-filter: blur(10px);
    border-style: inset;
    border: 3px solid rgba(77, 73, 73, 0.417);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

h1 {
    font-size: 3vw;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.798); /* X offset, Y offset, blur radius, color */
}
.wire-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.wire-box {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    width: 18%;
    text-align: center;
    transition: transform 0.3s ease;
}

.wire-box:hover {
    transform: scale(1.05);
}

.wire-box img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}

.wire-box p {
    font-size: 1.5vw;
    margin: 10px;
    color: black;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.contain_copper {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    width: 300px;
    color: white;
}


a {
    color: white;
    text-decoration: none;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #be0b0b;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #ff0000;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}